@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .row{
        flex-direction: column;
    }

    .lessons .col, .steps .col, .why-us .col-left, .why-us .col-right{
        width: 100%;
        padding: 1rem;
    }
}